body{
    font-family: 'Roboto', sans-serif;
}
.titles-room-designs{
    display: flex;
}
.title-rom h2{
    font-size: 1.9rem;
    font-weight: 400;
}
.title-rom p{
    font-weight: 300;
    color: #777777;
    line-height: 28px;
    font-size: 1.2rem;
}
.view-full-layout{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

}    
.button-view-full-layout{
    border: none;
    height: 40px ;
    width: 150px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #ff5f5c ;
    color: white;
    border-radius: 5px;
    font-size: 0.9rem;
    transform: translateY(0);
    box-shadow: none;
    transition: transform 0.2s, box-shadow 0.2s;
}
.button-view-full-layout:hover{
    transform: translateY(-1px);
    box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.4);
}