<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title Room Designs</title>
    <link rel="stylesheet" href="styles-title-room-designs.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
</head>
<body>
    <div class="titles-room-designs">
        <div class="title-rom">
            <h2>Room Designs</h2>
            <p>We Circle back push back for game plan it's a simple wordpressjob <br> or not enough bandwidth to go forward thinking.</p>
        </div>
        <div class="view-full-layout"><button class="button-view-full-layout">View Full Layout</button></div>
    </div>
</body>
</html>