*{
    font-family: 'Roboto', sans-serif;
    
}
body{
    background-image: url(/Bai-tap-lon-css/images/home.jpg);
    background-repeat: no-repeat;
    height: 780px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    width: 1140px;
    display: grid;
}
.main{
    display: grid;
    grid-template-columns: 61% 39%;
}
.col1-main-title-after-nav{
    padding-top: 12rem;
    padding-right: 5rem;
}
.col2-appoinment{
    padding-top: 3.5rem;
}
.main2{
    padding-top: 10rem;
    padding-bottom: 4.5rem;
}
.main3{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.main3-col1{
    margin-right: 30px;
}
.main3-col2{
    margin-right: 15px;
}
.main3-col3{
    margin-left: 15px;
}
.main3-col4{
    margin-left: 30px;
}

.main5{
    display: grid;
    grid-template-columns: 43% 28.5% 28.5%;
}
.main5-col3, .main5-col2, .main5-col1{
    padding-left: 15px;
    padding-right: 15px;
}