<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask and Questions</title>
    <link rel="stylesheet" href="styles-a-and-q.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
</head>
<body> 
    <div class="container-boss-a-and-q">
        <div class="container-a-and-q">
            <div class="title-a-and-q">
                <h1>Frequently Asked Questions</h1>
                <p>All the law related questions clients have asked us.</p>
            </div>
                <div class="questions-answer">
                    <p class="question">What is a contingency fee?</p>
                    <p class="answer">Adequate rest is important for you. However, arrangements can be made for a family 
                            member to spend the night with you and many rooms include pull-out couches.</p>
                </div>
                <div class="questions-answer1">
                    <p class="question">What is the benefit of having an agent represent me?</p>
                    
                </div>
                <div class="questions-answer1">
                    <p class="question">How much does it cost to speak with an agent?</p>
                    
                </div>
                <div class="questions-answer1">
                    <p class="question">How soon after an accident should I contact an agent?</p>
                    
                </div>
            
        </div>    
        <div class="avatar-boss">
            <img src="/Bai-tap-lon-css/images/boss.png" alt="">
        </div>
    </div>
    
</body>
</html>