.cards{
    font-family: 'Roboto', sans-serif;
    border-style: solid;
    padding: 30px;
    border-color: rgba(80, 80, 90, 0.1);
    border-width: 1px;
    border-radius: 5px;
    box-shadow: none;
    transform: none;
    transition: transform 0.3s, box-shadow 0.5s;
}
.cards:hover{
    box-shadow: 0px 50px 30px -40px rgba(0,0,0,0.1);
    transform: translateY(-7px);
}
.icon-card{
    display: flex;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    background-color:#FFEAEA;
    font-size: 25px;
    color: #FF5F5C;
    

}
.number-card{
    font-size: 3.8rem;
    
}
.lable-card {
    font-weight: 300;
}

