body{
    font-family: 'Roboto', sans-serif;
}

.container-map{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
}
#map{
    height: 500px;
    width: 1000px;
    border: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: wheat;
}