<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="styles-footer.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
     <div class="container-footer">
        <div class="logo-footer"><a href="#"><img src="/Bai-tap-lon-css/images/logo-dark.png" alt=""></a></div>
        <div class="content-footer">
            <p>Make your beautiful blog or magazine website with this stunning WordPress theme. <br>
                Crafted with an eye for details and care by ThemeBubble.
            </p>
        </div>
        <div class="icon-footer"><i class="fab fa-facebook-f"></i><i class="fab fa-instagram"></i><i class="fab fa-wikipedia-w"></i></div>
        <form class="input-footer">
            <input class="footer-mail" type="text" placeholder="Enter your email">
            <button class="footer-submit" type="submit" ><i class="fa fa-paper-plane"></i></button>
        </form>
        <div class="hr"></div>
        <div class="final-footer">© Built with pride and caffeine. All rights reserved.</div>
    </div>
</body>
</html>