<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="./styles-header.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="header-container">
        <div class="logo-icon"><img src="/Bai-tap-lon-css/images/logo-white.png" alt=""></div>
        <div class="container-nav-button">
            <div class="nav">
                <ul>
                    <li id="navli"> <a href="#">Home</a> </li>
                    <li id="navli"> <a href="#">About</a> </li>
                    <li id="navli" class="mage-menu"> <a href="#">Mage Menu</a> 
                        <div class="showdownmenu">
                            <div class="showdownmenu1">
                               <span>Colum One</span>
                                <ul>
                                    <li>Agency</li>
                                    <li>Architect</li>
                                    <li>consulting</li>
                                    <li>Cryptocurreny</li>
                                </ul>
                            </div>
                            <div class="showdownmenu1">
                                <span>Colum Tow</span>
                                <ul>
                                    <li>Marketing</li>
                                    <li>Yoga</li>
                                    <li>Medical</li>
                                    <li>Product Landing</li>
                                </ul>
                            </div>
                            <div class="showdownmenu1">
                                <span>Colum three</span>
                                <ul>
                                    <li>Creative</li>
                                    <li>Photography</li>
                                    <li>Porfolio Masonry</li>
                                    <li>Restaurant</li>
                                </ul>
                            </div>
                            <div class="showdownmenu1">
                                <span>Colum four</span>
                                <ul>
                                    <li>Porfolio Section</li>
                                    <li>Resume</li>
                                    <li>Nguyen</li>
                                    <li>Minh Thao</li>
                                </ul>
                            </div>
                        </div>
                        
                    </li>
                    <li> <a href="#">Roms</a> </li>
                    <li> <a href="#">Blog</a> </li>
                    <li> <a href="#">Contact</a> </li>
                </ul>
            </div>
            <div class="button-get-webify-today"><button>Get Webify Today</button></div>
        </div>
    </nav>
</body>
</html>