
.header-container{
    display: flex;
    
}
.logo-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-icon img{
    height: 2rem;
    width: 3rem;
}
.nav ul{
    display: flex;
}

#navli{
    height: 40px
}
.nav li{
    list-style: none;
}
.nav a{
    color: rgba(250, 250, 250, 0.8);
    font-size: 0.85rem;
    text-decoration: none;
    padding-right: 1.8rem;
    opacity: 0.8;
    transition: all 0.5s ;

}
.nav a:hover {
    opacity: 1;
    color: white;
    
}
.container-nav-button{
    display: flex;
    flex: 1;
    justify-content: flex-end;
 
 }   
.button-get-webify-today{
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-get-webify-today button{
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: white;
    height: 2.1rem;
    width: 10rem;
    border-radius: 1.5rem;
    font-weight: bold;
    font-size: 0.9rem;
   
}
.showdownmenu{
    display: flex;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 2rem;
    right: -370%;
    box-shadow: 1px 1px 27px -10px rgba(0,0,0,0.69);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}
.showdownmenu1{
    padding: 10px;
    border-right: solid;
    width: 270px;
    border-width: 1px;
    border-color: rgba(200, 200, 200, 0.2);
    
}
.mage-menu{
    position: relative;
}

.mage-menu:hover .showdownmenu{
    
    visibility: visible;
    opacity: 1;
}
.showdownmenu1 ul{
    display: inline;
    left: 0;

}
span{
    margin-left: 0.7rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: #555555;
    
}
.showdownmenu1 li{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 12px;
    font-size: 0.8rem;
    color: #777777;
    height: 30px;
    border-radius: 4px;
    background-color: white;
    transition: background-color 0.3s ;

}
.showdownmenu1 li:hover{
    background-color: #eeeeee ;
}