<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card news</title>
    <link rel="stylesheet" href="styles-card-news.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
</head>
<body>
    <div class="card-news">
        <div class="over-flow-hidden-news">
            <div class="image-news" style="background-image: url(/Bai-tap-lon-css/images/news1.jpg);"> </div>
        </div>
        <div class="tiltle-every-news">
            <span>Lifestyle</span> <br>
            <a href="">The Thin & Blur Line Between Corporate Lifestyle & Other Things</a>
            <div class="date-news">
                <a id="a-date-news" href="#">David Beck</a>
                <span id="span-date-news">April 15, 2019</span>
            </div>
        </div>
   </div>
        
</body>
</html>