<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luxurious House</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles-content-luxurious-house.css">
</head>
<body>
    <div class="content-luxurious-house">
        <h1 class="content-h1">Luxurious House</h1>
        <p>Cooperation is key to any project and our priority will always be towards clients <br> that have a clear view of where they want to be incase wordpress goes <br> for multipurpose for design and interior beauty elementor.</p>
        <a href="#" class="a-learn-more">Learn More</a>
    </div>
</body>
</html>